@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
    font-family: Outfit, sans-serif;
}
.big-card{
    width: 80%;
    margin-inline: auto;
    overflow-x: auto;
    display: flex;
}
.card{
    width: 50%;
    flex-basis: 31%;
}



/* *{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
 color: black;
}
.logo-head{
    display: flex;
    gap: 10px;
}
.logo-head h2{
    margin-top: 12px;
}
.img-logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.image-div{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
li{
    gap:30px;
    display: flex;
cursor: pointer;
margin-top: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.top-signup{
    border-radius: 50px;
    padding-inline: 20px;
} */